Body{
background-color: #0bb828;
}
form{
    margin-top: 5cm;
    padding: 20px;
    background-color: #e1cbec;
    width: 18cm;
    height: 8cm;
    border-radius: 15px;
}
input{
    font-size: 20px;

}
h1{
    background-color: rgba(128, 128, 128, 0.493);
    margin-right: 10cm;

}
label{
    font-size: 17px;
}
button{
    background-color: #008a22; 
    width: 150px;
    height: fit-content;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: color 0.3 ease;

}
button:hover{
    background-color: #9aff91;
    color: #008a22;
}
p{
font-size: 15px;
}